" Basic Neovim configuration
" Its just an example to figure out how andsible would work
set nocompatible              " do not use Vi defaults
filetype off                  " required

" Set the runtime path to include Vim's and the plugins
set rtp+=~/.vim
set rtp+=~/.config/nvim

" Load vim-plug
call plug#begin('~/.local/share/nvim/plugged')

" Add plugins here
Plug 'preservim/nerdtree'
Plug 'junegunn/fzf', { 'do': { -> fzf#install() } }
Plug 'junegunn/fzf.vim'
Plug 'neoclide/coc.nvim', {'branch': 'release'}

call plug#end()               " required

filetype plugin indent on      " required
set hidden                     " Enable hidden buffer
syntax on                      " Enable syntax highlighting

" Basic key mappings
nnoremap <C-n> :NERDTreeToggle<CR>