---
- name: Install packages from pacman
  pacman:
    name: "{{ pacman_item }}"
    state: present
  loop:
    - neovim
    - zip
    - unzip
    - eza # better ls
    - wget
    - tldr # better man pages
    - bat # better cat
    - trash-cli
    - zsh
    - mise # dev tools version manager
    - wlsunset
    - fzf
    - qbittorrent
    - qt6-wayland
    - qt5-wayland
    - duff # better df
    - zoxide # better cd
    - lshw
    - fastfetch # rip neofetch
    - blueman # bluetooth gui manager
    - btop # better htop/top
    - lazygit
    - meld # gui diffing tool
    - gnome-keyring # keyring itself
    - libsecret # for keyring
    - seahorse # afair its for keyring
    # - lf # to much os specific configuration that doesn't make sense for me
    - ranger # too slow
    - git-delta # better git diff
    - mpv # video player
    - jq # json processor
    - ark # kde gui archives manager
    - tmux # termanal multiplexer
    - baobab # storage analyzer gui
    # - xplr # rust based lua hackable tui file manager
    - ncdu # space analyzer
    - hyprpicker # Wayland color picker
  become: true
  loop_control:
    loop_var: pacman_item
  when: ansible_distribution == "Archlinux"


- name: Install packages from AUR
  command: yay -S --noconfirm {{ aur_item }}
  loop:
    - stretchly-bin
    - hiddify
    # - zen-browser-bin # memory usage is insane
    - lazydocker-bin
  loop_control:
    loop_var: aur_item
  when: ansible_distribution == "Archlinux"

- name: setup dev globals
  command:  mise use -g {{ mise_item }}@latest
  loop:
    - node
    - python
  loop_control:
    loop_var: mise_item
  when: ansible_distribution == "Archlinux"
