---
- name: Install packages from pacman
  pacman:
    name: "{{ pacman_item }}"
    state: present
  loop:
    - neovim
    - zip
    - eza
    - unzip
    - tldr
    - bat
    - trash-cli
    - mise
    - wlsunset
    - fzf
    - qt6-wayland
    - qt5-wayland
    - duff # better df
    - zoxide
    - lshw
    - neofetch
    - blueman
    - lazygit
    - meld
    - gnome-keyring # keyring itself
    - libsecret # for keyring
    - seahorse # afair its for keyring
    # - lf # to much os specific configuration that doesn't make sense for me
    - ranger
    - git-delta
    - mpv # video player
    - tmux
    - baobab # storage analyzer gui
    - xplr
    - ncdu
  become: true
  loop_control:
    loop_var: pacman_item
  when: ansible_distribution == "Archlinux"


- name: Install packages from AUR
  command: yay -S --noconfirm {{ aur_item }}
  loop:
    - stretchly-bin
    - hiddify
    - zen-browser-bin
    - lazydocker-bin
  loop_control:
    loop_var: aur_item
  when: ansible_distribution == "Archlinux"

- name: setup dev globals
  command:  mise use -g {{ mise_item }}@latest
  loop:
    - node
    - python
  loop_control:
    loop_var: mise_item
  when: ansible_distribution == "Archlinux"
