---
# windows specifig scoop packages that don't require configuration
- name: "{{ role_name }} | Install required packages on Windows"
  community.windows.scoop:
    name: "{{ item }}"
    state: present
  loop:
    - vscode
    - wezterm
    - sophiapp
    - workman-np
    - ayugram
    - winmerge # Differencing and merging too
    - sift # A fast and powerful alternative to grep.
    - sophiapp
    - file-converter-np
    - windirstat
    - context-menu-manager
    - bulk-crap-uninstaller
    - git
    - neovim
    - vifm
    - ripgrep
    - alacritty
    - zoxide
    - sudo
    - curl
    - tldr
    - okular
    - flux
    - eza
    - anki
    - qbittorrent
    - vim
    - dos2unix
    - vlc
    - peazip
    - stretchly
    - vivaldi
    - obsidian
    - discord
    - bat
    - fzf
    - capture2text  # windows 10 only
    - sharex
    - unzip
    - sdk
    - coretemp
    - espanso
    # A hardware monitoring program that reads PC systems main health sensors 
    # : voltages, temperatures, fans speed.
    - hwmonitor
    - fsviewer
    - upscayl
    - JetBrainsMono-NF
    - flameshot
    - unar  # Universal archives extractor.
  when: ansible_os_family == 'Windows'
