[defaults]
inventory=./inventory.yml
vault_password_file=./vault-password.txt
inject_facts_as_vars = False

[diff]
# (bool) Configuration toggle to tell modules to show differences when in 'changed' status, equivalent to ``--diff``.
always=False
