[defaults]
inventory=./inventory.yml
vault_password_file=./vault-password.txt

[diff]
# (bool) Configuration toggle to tell modules to show differences when in 'changed' status, equivalent to ``--diff``.
always=True
