---
- name: Set OS-specific config paths
  ansible.builtin.set_fact:
    config_path: "{{ ansible_user_dir }}/.config/lazygit"

- name: Get latest Lazygit version
  ansible.builtin.uri:
    url: https://api.github.com/repos/jesseduffield/lazygit/releases/latest
    return_content: true
  register: lazygit_latest

- name: Set Lazygit version fact
  ansible.builtin.set_fact:
    lazygit_version: "{{ lazygit_latest.json.tag_name[1:] }}"

- name: Download Lazygit archive
  ansible.builtin.get_url:
    url: https://github.com/jesseduffield/lazygit/releases/latest/download/lazygit_{{ lazygit_version }}_Linux_x86_64.tar.gz
    dest: /tmp/lazygit.tar.gz

- name: Extract Lazygit binary
  ansible.builtin.unarchive:
    src: /tmp/lazygit.tar.gz
    dest: /tmp
    remote_src: true

- name: Move Lazygit binary to /usr/local/bin
  ansible.builtin.copy:
    src: /tmp/lazygit
    dest: /usr/local/bin/lazygit
    mode: "0755"
    remote_src: true
  become: true

- name: Clean up temporary files
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /tmp/lazygit.tar.gz
    - /tmp/lazygit      

- name: Include common copy tasks
  ansible.builtin.include_tasks: roles/common_tasks/tasks/copy_configs.yml
