{{ if ne .chezmoi.os "windows" }}
AppData/
Documents/PowerShell/
cursors/
dot_glaze-wm/
dot_config/gtk-3.0/bookmarks
.config/gtk-3.0/bookmarks
powershell/
{{ end }}
{{ if eq .chezmoi.os "windows" }}
dot_config/Vifm/
{{ end }}
