// Remove window decorations
prefer-no-csd

cursor {
    hide-when-typing
    hide-after-inactive-ms 1000
}


environment {
    QT_QPA_PLATFORM "wayland"
    DISPLAY null
}
xwayland-satellite {
    // off
    path "xwayland-satellite"
}
clipboard {
    disable-primary
}

// Avoid writing screenshots to disk since they get piped into satty.
screenshot-path null

// The wiki explains how to configure individual animations:
// https://niri-wm.github.io/niri/Configuration:-Animations
animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    slowdown 0.5
}

overview {
    zoom 0.3333
    backdrop-color "#000000"
}
