// https://niri-wm.github.io/niri/Configuration:-Window-Rules
// >>>> niri msg pick-window

// ----------------------------------------------------------------------------
// WezTerm's initial configure bug by setting an empty default-column-width.
// ----------------------------------------------------------------------------
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// ----------------------------------------------------------------------------
// Floating
// ----------------------------------------------------------------------------
window-rule {
    match app-id=r#"^Pinentry-gtk$"#
    match app-id=r#"^Tk$"#
    match app-id=r#"^blueman-manager$"#
    match app-id=r#"^org.pulseaudio.pavucontrol$"#
    match app-id=r#"^gimp$"# title=r#"Preferences"#
    match app-id=r#"^mpv$"#
    match app-id=r#"^soffice$"# title=r#"^Text Import"#
    match app-id=r#"^thunar$"# title=r#"^Rename "#
    match app-id=r#"^virt-manager$"# title=r#" - Connection Details"#
    match app-id=r#"^wev$"#
    match app-id=r#"^xarchiver$"#
    match app-id=r#"firefox$"# title=r#"^(Library|About Mozilla Firefox)$"#
    match title="Choose Files"
    match app-id="qalculate-gtk"

    match app-id=r#"^org\.telegram\.desktop$"# title="Media viewer"
    match title="Media viewer"
    default-column-width { proportion 0.5; }
    default-window-height { proportion 0.6; }
    open-floating true
}

// ----------------------------------------------------------------------------
// Picture-in-Picture
// ----------------------------------------------------------------------------
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id=r#"zen$"# title="^Picture-in-Picture$"
    match app-id=r#"vivaldi$"# title="^Picture-in-Picture$"

    open-floating true
    default-column-width { proportion 0.2; }
    default-window-height { proportion 0.2; }
    default-floating-position x=30 y=30 relative-to="bottom-right"
}

// ----------------------------------------------------------------------------
// Workspace assign
// ----------------------------------------------------------------------------
window-rule {
    match app-id=r#"^(org\.telegram\.desktop(\.desktop)?|telegram-desktop)$"#
    exclude app-id=r#"^org\.telegram\.desktop$"# title="Media viewer"
    match app-id=r#"^Throne$"#

    block-out-from "screen-capture"
    open-on-workspace "scratchpad"
    open-focused false
}


window-rule {
    match app-id=r#"^zen$"#
    open-on-workspace "main"
    open-focused true
}

window-rule {
    geometry-corner-radius 2
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^com\.gabm\.satty$"#
    open-floating true
    min-width 730
    min-height 300
}

window-rule {
    match app-id=r#"^waybar-tool$"#
    open-floating true
}



// ----------------------------------------------------------------------------
// Screen capture
// ----------------------------------------------------------------------------
// Indicate screencasted windows with red colors.
window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}


// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}
