---
- name: Set OS-specific config paths
  ansible.builtin.set_fact:
    config_path: "{{ ansible_user_dir }}/.glaze-wm"
  when: ansible_os_family == 'Windows'

- name: Install GlazeWM using Scoop
  community.windows.scoop:
    name: glazewm
    state: present
  when: ansible_os_family == 'Windows'

- name: Include common copy tasks
  ansible.builtin.include_tasks: roles/common_tasks/tasks/copy_configs.yml
