---
- name: Install rofi on Linux
  apt:
    name: rofi
    state: present
    update_cache: yes
  become: true
  when: ansible_os_family == 'Linux'

- name: "{{role_name }} | Ensure config directory exists on Windows"
  win_file:
    path: "{{ ansible_user_dir }}/.local/rofi/themes"
    state: directory
  when: ansible_os_family == 'Linux'

- name: Copy theme
  copy:
    src: catpuccin-mocha.rasi
    dest: "{{ ansible_user_dir }}/.local/rofi/themes/catpuccin-mocha.rasi"
  when: ansible_os_family == 'Linux'

- name: "{{role_name }} | Ensure config directory exists on Windows"
  win_file:
    path: "{{ ansible_user_dir }}/.config/rofi"
    state: directory
  when: ansible_os_family == 'Linux'

- name: Copy config
  copy:
    src: config.rasi
    dest: "{{ ansible_user_dir }}/.config/rofi/config.rasi"
  when: ansible_os_family == 'Linux'