// Keep startup apps off the scratchpad workspace.
spawn-sh-at-startup "niri msg action focus-workspace 2"

// Idle and sleep handling.
spawn-at-startup "swayidle" "idlehint" "1"
spawn-at-startup "swayidle" "-w" "before-sleep" "swaylock -f"

// Auth with polkit-gnome
spawn-sh-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"

spawn-sh-at-startup "$HOME/.config/niri/scripts/import-gsettings"
spawn-sh-at-startup "$HOME/.config/niri/scripts/dynamic_wallpapers"
spawn-sh-at-startup "waybar -c \"$HOME/.config/waybar/config-niri.jsonc\" -s \"$HOME/.config/waybar/style.css\""
spawn-at-startup "Telegram"
spawn-at-startup "throne"
spawn-at-startup "zen-browser"
spawn-at-startup "mako"
spawn-at-startup "wlsunset"
spawn-at-startup "copyq"
spawn-at-startup "nm-applet" "--indicator"
spawn-sh-at-startup "sleep 2 && firewall-applet"

hotkey-overlay {
    // Avoid auto-showing the important hotkeys menu.
    skip-at-startup
}
