[settings]
api_url = https://wakapi.dev/api
api-key = {{ wakatime_api_key }}
exclude = 
    COMMIT_EDITMSG$
    PULLREQ_EDITMSG$
    MERGE_MSG$
    TAG_EDITMSG$
    .*\.cfg$
    .*\.conf$
    .*\.md$
    .*\.json$
    .*\.config$
    .*telescope.*
    telescope://.*
    TelescopePrompt.*
    TelescopeResults.*
    tsconfig
    gitignore
    checkhealth
    **/*.md$
    **/*.txt$
    .*\.ini$
    .*\.txt$
    go.sum
    .*\.yaml$
    .*\.yml$
    .*\.toml$
    .*\.env.*
    filename=neo-tree*
