---
- name: Install dependencies
  apt:
    name: "{{ item }}"
    state: present
  with_items:
    - apt-transport-https
    - ca-certificates
    - curl
    - gnupg
    - lsb-release
  become: true

- name: Add Docker GPG key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present
  become: true

- name: Add Docker repository
  apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
    state: present
  become: true

- name: Install Docker
  apt:
    name: docker-ce
    state: present
  become: true

- name: Add user to Docker group
  user:
    name: "{{ ansible_user_id }}"
    groups: "docker, sudo"
    append: true
  become: true

- name: Start Docker service
  service:
    name: docker
    state: started
  become: true
